body {
    font-family: 'Montserrat', sans-serif;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.our_plus{
    font-family: "Montserrat Bold";
    color: black;
    font-size: calc(0.5rem + 1.8vw);
    text-align: center;
}
.we_are{
    color: #999999;
    font-family: "Montserrat Regular";
    font-size: calc(0.5rem + 0.7vw);
    text-align: center;
}
.img_benefit{
    max-width: 100%;
}
.div_we_are{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_1{
    font-size: calc(1rem + 2vw);
    color: white;
    font-family: "Montserrat ExtraBold";
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}
.text_2{
    font-size: calc(0.3rem + 1.3vw);
    color: white;
    font-family: "Montserrat Black";
    text-align: center;
    margin: 0;
    padding-bottom:10px;
}
.text_but_under{
    font-size: calc(0.3rem + 1vw);
    margin-bottom: 0;
}
.button_ch_dir{
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    padding-top: 10px;

}

@media screen and (min-width: 768px) and (max-width: 809px){
    p.text_1{
        font-size: 30px;
    }
}
@media screen and (max-width: 767px){
    .uhead {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p.text_1{
        font-size: calc(1.2rem + 2vw);
    }
    p.text_2{
        font-size: calc(0.5rem + 1.3vw);
    }
    p.text_but_under{
        font-size: calc(0.5rem + 1vw);
    }
    p.dir_cource{
        font-size:calc(0.5rem + 2vw);
    }
}
.card_text{
    color: white;
    font-family: "Montserrat Medium";
    font-size:1.2vw;
    text-align: center;
}
.card_text_title{
    color: white;
    font-family: "Montserrat Black";
    font-size:1.5vw;
    text-align: center;
}
.dropdown_card_text{
    color: white;
    font-family: Roboto;
}
.dropdown_card{
    text-align: center;
}
.container_dir_cource{
    background: linear-gradient(to right, #4844DE, #5F12D0)
}
.dir_cource {
    font-family: "Montserrat SemiBold";
    font-size:2.5vw;
    text-align: center;
    color: white;
}
.e_mail{
    font-family: "Montserrat SemiBold";
}
.footer_email{
    text-align: center;
}
@media screen and (max-width: 575px){
    p.footer_email {
        font-size: 15px;
        text-align: center;
    }
}
img{
    max-width: 100%;
}
.ch_dir{
    font-family: "Montserrat Medium";
    font-size: 1vw;
    border-radius: 50px;
}

.card_with_dir{
    width: 22vw;
    height: 22vw;
}
.card_with_courses{
    border-radius: 25px;
    border-color: gray;
    border-width: medium;
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.text_nav{
    color:white;
    font-family: "Montserrat Medium";
}
.button_from_nav{
    height: 100%;
}
.our_plus{
    font-family: "Montserrat Bold";
    color: black;
    font-size: calc(0.5rem + 1.8vw);
    text-align: center;
}
.we_are{
    color: #999999;
    font-family: "Montserrat Regular";
    font-size: calc(0.5rem + 0.7vw);
    text-align: center;
}
.img_benefit{
    max-width: 100%;
}
.div_we_are{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_1{
    font-size: calc(1rem + 2vw);
    color: white;
    font-family: "Montserrat ExtraBold";
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}
.text_2{
    font-size: calc(0.3rem + 1.3vw);
    color: white;
    font-family: "Montserrat Black";
    text-align: center;
    margin: 0;
    padding-bottom:10px;
}
.text_but_under{
    font-size: calc(0.3rem + 1vw);
    margin-bottom: 0;
}
.text_3 {
    font-size: 25px;
    color: #2F2F2F;
    font-family: "Montserrat ExtraBold";
    text-align: center;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.text_review{
    font-size: 15px;
    color: #2F2F2F;
}
.text_card_review{
    font-size: 16px;
    color: #2F2F2F;
    font-family: "Montserrat ExtraBold";
    margin: 0;
    padding-top: 1vw;
    padding-left: 5vw;
    padding-bottom: 1vw;
}
.text_card_review_2{
    font-size: 16px;
    color: #2F2F2F;
    margin: 0;
    padding-left: 5vw;
    padding-bottom: 2vw;
}

.line {
    margin-top: 15px;
    width: 90%;
    position: center;
    border-bottom: 2px solid #D6D6D6;

}
.line_2 {
    margin-top: 15px;
    width: 90%;

    position: center;
    border-bottom: 2px solid #D6D6D6;

}
.text_4 {
    font-size: 22px;
    color: #2F2F2F;
    font-family: "Montserrat ExtraBold";
    padding-left: 22px;
    padding-top: 2vw;
}
.count_classes {
    font-size: 18px;
    padding-left: 22px;
    color: #2F2F2F;
}
.name_academy {
    font-size: 19px;
    color: #2F2F2F;
    font-family: "Montserrat ExtraBold";
    margin-left: 35px;
}
.name_user {
    font-size: 17px;
    color: #2F2F2F;
    font-family: "Montserrat ExtraBold";
    margin-left: 35px;
}
.link_academy {
    font-size: 15px;
    color: #2F2F2F;
    margin-left: 34px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.card_text{
    color: white;
    font-family: "Montserrat Medium";
    font-size:1.2vw;
    text-align: center;
}
.card_text_title{
    color: white;
    font-family: "Montserrat Black";
    font-size:1.5vw;
    text-align: center;
}
.dropdown_card_text{
    color: white;
    font-family: Roboto;
}
.dropdown_card{
    text-align: center;
}
.container_dir_cource{
    background: linear-gradient(to right, #4844DE, #5F12D0)
}
.dir_cource {
    font-family: "Montserrat SemiBold";
    font-size:2.5vw;
    text-align: center;
    color: white;
}
.e_mail{
    font-family: "Montserrat SemiBold";
}
.footer_email{
    text-align: center;
}
img{
    max-width: 100%;
}
.ch_dir{
    font-family: "Montserrat Medium";
    font-size: 1vw;
    border-radius: 50px;
}
.button_ch_dir{
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    padding-top: 1vw;
}
.card_with_dir{
    width: 22vw;
    height: 22vw;
}

@media screen and (min-width: 768px) and (max-width: 809px){
    p.text_1{
        font-size: 30px;
    }
}
@media screen and (max-width: 767px){
    .uhead {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p.text_1{
        font-size: calc(1.2rem + 2vw);
    }
    p.text_2{
        font-size: calc(0.5rem + 1.3vw);
    }
    p.text_but_under{
        font-size: calc(0.5rem + 1vw);
    }
    p.dir_cource{
        font-size:calc(0.5rem + 2vw);
    }

}
